* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	background-color: black;
}

.card {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1420px;
	height: 800px;
	background-color: hsl(0, 100%, 74%);
}

.bgc-img {
	position: absolute;
	z-index: -10;
}

.left-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 9rem 2rem 9rem 9rem;
	width: 50%;
	height: 100%;
}

.headline {
	font-size: 3rem;
	font-weight: 700;
	color: white;
	line-height: 3.5rem;
}

.description {
	padding-top: 2rem;
	font-size: 16px;
	color: white;
}

.right-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	padding: 1rem 7rem 3rem 2rem;
}

.top-bar,
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	height: 60px;
	width: 100%;
	color: white;
	border-radius: 10px;
}

.top-bar_try {
	font-weight: 700;
}

.top-bar {
	background: hsl(248, 32%, 49%);
	box-shadow: 0px 8px 2px rgba(0, 0, 0, 0.289);
}

.user-window {
    position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 3rem;
	width: 100%;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 8px 2px rgba(0, 0, 0, 0.289);
	
}

.input {
	padding: 1.5rem;
	width: 100%;
	height: 55px;
	border-radius: 5px;
	border: none;
	border: 1px solid hsla(0, 0%, 15%, 0.25);
	font-size: 13px;
	font-weight: 600;
}

.block {
	margin-bottom: 1.2rem;
}

.block::before {
	content: '';
	display: none;
    position: absolute;
    left: 82%;
    transform: translate(0, 55%);
	width: 25px;
	height: 25px;
    background-image: url('images/icon-error.svg');
    background-position: center;
    background-size: cover;
}

.block:last-child::before {
    display: none;
}

.warning {
	display: none;
	justify-content: flex-end;
	padding-top: 5px;
	color: hsl(0, 100%, 74%);
	font-size: 12px;
	font-style: italic;
}

.btn {
	background: hsl(154, 59%, 51%);
	border: none;
	box-shadow: inset 0px -14px 22px -24px rgba(66, 68, 90, 1);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background .5s;
}

.btn:hover {
	background: hsla(154, 59%, 51%, 0.5);
}

.terms {
	font-size: 12px;
	text-align: center;
	color: rgba(0, 0, 0, 0.459);
}

.terms-style {
	font-weight: 700;
	color: hsl(0, 100%, 74%);
}

.active {
	display: flex;
}

footer {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%);
	color: wheat;
}
